name: Run pi-gen
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pi-gen:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: List working directory
        run: ls -alR ../
    
      - name: Run pi-gen build
        run: |
          chmod +x ./build-all.sh
          ./build-all.sh

      - name: Upload pi-gen images
        uses: actions/upload-artifact@v4
        with:
          name: pi-gen-images
          path: pi-gen/deploy/*.img
      
     